.job{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 60%;
}

.job-title-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.job-title, .job-publish-date{
  display: inline-flex;
  padding-right: 20px;
}

.job-title, .job-location, .job-description, .job-publish-date{
  margin: 0px;
}

.job-description{
  font-family: "Stack Sans Headline Maintext", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  padding-top: 0px;
}

.expandable-content{
  overflow: hidden;
  min-height: 0;
}

.expandable-section{
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;
}

 .expandable-section.expandable-section--open{
  grid-template-rows:  1fr;
}



.input-container-name{
  display: flex;
  flex-direction: row;
}

.input-small{
  background-color: var(--first-accent-colour);
  color: var(--secondary-colour);
  border-radius: 999px;
  border: none;
  padding: 8px;
  width: 28%;
  height: auto;
  margin: 0px 20px 10px 3px;
}

.input-large{
  background-color: var(--first-accent-colour);
  color: var(--secondary-colour);
  border-radius: 999px;
  border: none;
  padding: 8px;
  width: 40%;
  height: auto;
  margin: 0px 20px 10px 3px;
  display: flex;
}
.days-left-display-centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.days-left-display{
  background-color: var(--first-accent-colour);
  color: var(--secondary-colour);
  border-radius: 35px;
  border: none;
  padding: 8px;
  width: 80%;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.days-left-display-text{
  padding: 0px 20px;
}

#days-left{
  font-size: 24px;
}

.cv-file-upload{
  background-color: var(--first-accent-colour);
  color: var(--secondary-colour);
  border-radius: 35px;
  border: none;
  padding: 8px;
  width: 40%;
  height: auto;
  margin: 0px 20px 10px 3px;
}
.cv-file-upload:focus-within{
  outline: 2px solid var(--secondary-colour);
}

.cv-input-text{
  font-size: 18px;
  padding: 5px;
  margin: 0px;
  opacity: 0.75 ;
}

.cv-input{
  padding: 12px;
  opacity: 0.75 ;
  font-size: 18px;
}

.input-small:focus, .input-large:focus{
  outline: 2px solid var(--secondary-colour);
}
.text{
  padding: 5px 0px;
  margin: 0px 0px 10px 0px; 
}