.stack-sans-headline-title {
  font-family: "Stack Sans Headline", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.stack-sans-headline-mainText {
  font-family: "Stack Sans Headline", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

:root{
  --primary-bg-colour: #E8ECEF;
  --secondary-colour: #405974;

  --first-accent-colour:  #80ABD3; /* #8EB1D1 */ 
  --second-accent-colour: #495B7D;
  --third-accent-colour: #A7C7E7;
  --error-colour:#FE7B7C;
  --error-text-colour: #02122F;
}

html[data-theme="dark"] {
  --primary-bg-colour: #02122F;
  --secondary-colour: #e8ecef;

  --first-accent-colour: #8BA3C5;
  --second-accent-colour: #455b84;
  --third-accent-colour: #405974;
  --error-text-colour: #e8ecef;
}

body{
  background-color: var(--primary-bg-colour);
  color: var(--secondary-colour);
}
header{
  text-align: center;
}

.title{
  padding: 15px;
  font-family: "Stack Sans Headline Title", sans-serif;
  font-size: 30px;
}
.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.standard-button{
  font-size: 18px;
  background-color: var(--first-accent-colour);
  color: var(--secondary-colour);
  border: 0px ;
  border-radius: 99px ;
  width: 15% ;
  padding: 18px 0px ;
  margin: 15px;
  cursor: pointer;
}

.standard-button:hover{
  background-color: var(--third-accent-colour);
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 5px 20px;
  margin: 10px;
}

.job-link,
.main-body-text-link{
  text-decoration: none;
  color: var(--first-accent-colour);
}

.colour-scheme-switcher {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin: 10px;
  padding: 4px;
  background: var(--first-accent-colour);
  border-radius: 999px;
}

.scheme-switcher_button {
  flex: 1;
  border: 0;
  background: transparent;
  padding: 0.75rem;
  cursor: pointer;
  z-index: 1;
  color: var(--secondary-colour);
  font-size: 14px;
}

.scheme-switcher_slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc((100% - 8px) / 2);
  height: calc(100% - 8px);
  background: var(--third-accent-colour);
  border-radius: 999px;
  transition: transform 0.25s ease;
}

.flash-message {
  width: 700px;
  margin: 20px auto;
  padding: 12px;
  background: #d4edda;
  color: #155724;
  border-radius: 6px;
  text-align: center;
}


.error-message{
  background-color: var(--error-colour);
  color: var(--error-text-colour);
  border-radius: 20px;
  margin: 10px;
  width: 100% ;
}
.error-message p{
  padding: 7px; 
  margin: 2px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Stack Sans Headline", sans-serif;
}