<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/apply.css">
  <script defer src="../public/js/colourTheme.js"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <h2 class="title stack-sans-headline-title "> Job Application </h2>
    
  </header>
  <main class="centered">
    <!-- %%job-description%% -->
    <article class="job">
      <section class="job-title-section">
        <h2 class="job-title stack-sans-headline-title" > Butiksmedarbetare (sommarjobb) </h2>
        <p class="job-publish-date" > 1/4-26 </p>
      </section>
      <h4 class="job-location stack-sans-headline-title">  Willys Stockholm Älvsjö </h4>
      <a class="job-link" href="https://www.willys.se/"> Willys Homepage </a>
      <p class="job-description stack-sans-headline-mainText"> 
        Fullständig jobbeskrivning
        Vi är alla olika. Och det är härligt! Vi anställer inte människor efter en viss mall utan efter vem du är. För oss är driv och personlighet viktigare än erfarenhet och bakgrund. Det går bra för oss, och vi växer så det knakar. Nu söker vi fler glada medarbetare med rätt inställning och vilja att utvecklas!

        Om jobbet
        Var ser du dig själv i sommar? Vid havet eller på Willys? De flesta svarar nog havet, vilket är helt okej. Men vi ser gärna dig hos oss på Willys Stockholm Älvsjö i sommar!

        Tjänsten avser: Semestervikariat på 22 timmar i veckan under sommaren.
        Tillträde:  Omgående eller enligt överenskommelse.
        Arbetstider:  Du kommer att variera mellan att arbeta tidig morgon, dagtid, kvällar och helger.
        Krav: Vi välkomnar sökande i alla åldrar, men med hänvisning till Arbetsmiljöverkets föreskrifter AFS 2023:2 kapitel 8 och bilaga 2, anställer vi inte personer under 16 år beroende på arbetsuppgifternas art. Du behöver ha goda kunskaper i svenska (tal och skrift).

        När du jobbar på Willys får du en fartfylld vardag. Du gör allt ifrån att packa upp varor, jobba i kassan, hjälpa våra kunder till rätta och hålla rent och fräscht i butiken. Som sommarjobbare på Willys får du snabbt ta eget ansvar och du blir en viktig del av butiksteamet som ska se till att ge våra kunder den bästa butiksupplevelsen, varje dag.

        I utbyte kan vi lova att du får erfarenheter – om till exempel försäljning och service – som du kommer att ha nytta av oavsett vad du väljer att göra längre fram. Kanske jobbar du kvar hos oss även efter sommaren?
        Om oss
        För oss är rätt inställning och vilja att utvecklas viktigare än erfarenhet och utbildning. Vi jobbar tillsammans som ett lag, då vi ser att ett riktigt bra samarbete ger det bästa resultatet – samtidigt som vi har kul på jobbet.

        Lite mer om oss kommer här:
        Vi ser till att du får en bra introduktion när din anställning börjar.
        Vi är ansluta till Handelsanställdas kollektivavtal där schyssta villkor som pension, försäkringar och bra OB-ersättning ingår.
        Vår stora hjärtefråga är att se till att alla ska ha råd med bra mat. Vi öppnar tex egna butiker i socialt utsatta områden och hjälper andra att öppna sociala matbutiker.
        Hållbarhet är viktigt för oss och vi arbetar till exempel alltid med att minska vårt matsvinn.
        Du får erfarenheter – om t ex försäljning, service och om att driva butik – som du kommer att ha nytta av oavsett vad du väljer att göra längre fram.

        Om dig
        Willys växer och utvecklas hela tiden, och det gillar du också att göra. Du vill gärna lära dig nya saker, tycker om att utmanas och drivs av att ta ett större ansvar. Det är också toppen om du:
        Ser när något behöver göras, kavlar upp ärmarna och får det gjort.
        Det är en fördel om du har jobbat i butik eller med service, men det är inte ett krav.
        Du pratar, skriver och förstår svenska. Många av våra kunder talar fler språk än det, så om du gör detsamma är det toppen!
        Du tar ansvar för ditt jobb, är punktlig och pålitlig.
        Du har de förutsättningar och personliga egenskaper som gör att du passar för att jobba hos oss. Om du söker jobbet kommer du att få göra ett test som visar detta.

        Om du vill veta mer om vad tjänsten innebär, kontakta Hanna Lennmark, hanna.lennmark@willys.se. Vi ser gärna att du vid intresse skickar din ansökan så snart som möjligt, då tjänsten kan komma att tillsättas före sista ansökningsdag den 2026-07-07. Vi tar endast emot ansökningar via våra jobbsidor.

        För att ta reda på om just du är den vi söker så innehåller vår rekryteringsprocess både tester och intervjuer.
        Vi kontrollerar ID och gör bakgrundskontroller vid samtliga rekryteringar. Läs mer: Så går det till när du söker jobb inom Axfood

        Observera att vi inte under denna rekryteringsprocess kommer be dig logga in med ditt Bank-id eller scanna någon QR-kod. Vid frågor kontakta Medarbetarsupporten via kontaktformulär.
      </p>
      <section class="expandable-section">
        <div class="expandable-content">
          <input id="firstName" type="text" spellcheck="true" maxlength="30" placeholder="First Name"> 
          <input id="Lastname" type="text" spellcheck="true" maxlength="30" placeholder="Lastname">
        </div>
      </section>
      <div class="centered">
        <button class="standard-button stack-sans-headline-mainText">
          Apply
        </button>
      </div>
        
    </article>
  </main>
  <footer>
    <h2 class="footer-text stack-sans-headline-title "> Contact </h2>
    <a class="main-body-text-link stack-sans-headline-mainText" href="https://github.com/nasraabdirahman/cv-analyzer"> https://github.com/nasraabdirahman/cv-analyzer </a>
    <section class="colour-scheme-switcher" aria-label="colour-scheme-switcher">
      <span class="scheme-switcher_slider"></span>
        <button class="scheme-switcher_button stack-sans-headline-mainText" aria-pressed="false" value="light">
          Light
        </button>
        <button class="scheme-switcher_button stack-sans-headline-mainText" aria-pressed="false" value="dark">
          Dark
        </button>
    </section>
  </footer>
</body>
</html>