<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/apply.css">
  <script defer src="../public/js/colourTheme.js"></script>
  <script defer src="../public/js/expandable.js"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <h2 class="title stack-sans-headline-title "> Job Application </h2>
    
  </header>
  <main class="centered">
    <!-- %%job-description%% -->
    <article class="job">
      <section class="job-title-section">
        <h2 class="job-title stack-sans-headline-title" > %%Library Assistant (temporary)%% </h2>
        <p class="job-publish-date" > 1/4-26 </p>
      </section>
      <h4 class="job-location stack-sans-headline-title">  %%Jönköping University%% </h4>
      <p class="job-description stack-sans-headline-mainText"> 
      Full Job Description 
        Jönköping University is seeking motivated and service-oriented students to join the University Library as Student Library Assistants. This position offers an opportunity to gain valuable work experience while supporting students, faculty, researchers, and visitors in a modern academic library environment.

        As a student employee, you will work alongside experienced library staff to ensure that the library provides excellent service, maintains organized collections, and offers a welcoming study environment. Evening and weekend shifts are included as part of the regular schedule.

        Key Responsibilities
        Provide friendly and professional assistance at the library information desk.
        Help students and visitors locate books, journals, and other academic resources.
        Assist with borrowing, returning, and renewing library materials using the library management system.
        Support users with printing, scanning, photocopying, and basic IT-related questions.
        Organize, shelve, and maintain library collections to ensure accurate placement of materials.
        Assist with inventory projects and collection maintenance.
        Support library events, workshops, exhibitions, and guided tours when needed.
        Help maintain a quiet, clean, and welcoming study environment.
        Perform general administrative tasks as assigned by library staff.

        Required Skills and Qualifications
        - Be enrolled as a full-time student, with at least one year of completed studies.
        - Basic IT-knowledge 
        - Ongoing studies within an area such as Librarian, information teckhnolodgy or similar.
        - Previous experience in a customer facing profession
        - Be proficient in both English and Swedish

        Prefered Skills and Qualifications
        - Drivers licence
        - Experience working in a library 
        - Experience with the library software(primo)

        Working Hours
        The position is approximately 20% of full-time employment. Student Library Assistants typically work one scheduled weekday evening and rotating weekend shifts. Additional hours may be available during examination periods, special events, or staff absences.

        What We Offer
        Flexible working hours designed to complement your studies.
        Practical experience within an academic library setting.
        A supportive and collaborative work environment.
        Opportunities to develop customer service, communication, and organizational skills.
        Valuable professional experience relevant to future careers in education, administration, information services, and public service.

        We welcome applications from enthusiastic students who are passionate about providing excellent service and contributing to the academic community.

      </p>
      <section class="expandable-section">
        <div class="expandable-content">
          <h3 class="text stack-sans-headline-title"> Application </h3>
          <h6 class="text stack-sans-headline-mainText"> Please include the following information </h6>
            <div class="input-container-name">
              <input class="input-small" id="firstName" type="text" spellcheck="true" maxlength="30" placeholder="First Name"> 
              <input class="input-small" id="lastname" type="text" spellcheck="true" maxlength="30" placeholder="Lastname">
            </div>
            <input class="input-large" id="" type="text" spellcheck="true" maxlength="30" placeholder="Personal Information">
          </div>
      </section>
      <div class="centered">
        <button class="standard-button stack-sans-headline-mainText">
          Apply
        </button>
      </div>
        
    </article>
  </main>
  <footer>
    <h2 class="footer-text stack-sans-headline-title "> Contact </h2>
    <a class="main-body-text-link stack-sans-headline-mainText" href="https://github.com/nasraabdirahman/cv-analyzer"> https://github.com/nasraabdirahman/cv-analyzer </a>
    <section class="colour-scheme-switcher" aria-label="colour-scheme-switcher">
      <span class="scheme-switcher_slider"></span>
        <button class="scheme-switcher_button stack-sans-headline-mainText" aria-pressed="false" value="light">
          Light
        </button>
        <button class="scheme-switcher_button stack-sans-headline-mainText" aria-pressed="false" value="dark">
          Dark
        </button>
    </section>
  </footer>
</body>
</html>