<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/apply.css">
  <script defer type="module" src="{{ url_for('static', filename='js/colourTheme.js')}}"></script>
  <script defer type="module" src="{{ url_for('static', filename='js/apply.js')}}"></script>
  <script > const job = {{job | tojson}}; </script>
  <script defer type="module" src="{{ url_for('static', filename='js/listingTimer.js')}}"></script>
  <title>Full Job-Description</title>
</head>
<body>
  <header>
    <h2 class="title stack-sans-headline-title "> Job Application </h2>
  </header>
  <main class="centered">
    <article class="job">
      <section class="job-title-section">
        <h2 class="job-title stack-sans-headline-title" > {{ job["title"] }} </h2>
        <p class="job-publish-date" > Application opened: {{ job["releaseDate"] }}</p>
      </section>
      <section class="job-info-section">
        <h4 class="job-company stack-sans-headline-title">  {{ job["company"] }} </h4>
        <p class="job-publish-date" > Application ends: {{ job["removalDate"] }}</p>
      </section>
      <section class="job-info-section">
        <h4 class="job-location stack-sans-headline-title">  {{ job["location"] }} </h4>
        <p class="job-publish-date" > Start date: {{ job["startDate"] }}</p>
      </section>
      <p class="job-description stack-sans-headline-mainText"> 
      Full Job Description 
        {{ job["longDescription"] }} 
      </p>
      <div class="days-left-display-centered">
        <div class="days-left-display">
          <h2 class="days-left-display-text stack-sans-headline-title"> Days left until listing closes: </h2>
          <p id="days-left" class="stack-sans-headline-title"> </p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data" action="/job/{{job['id']}}" class="applyForm">
        <section class="expandable-section {% if errors %}expandable-section--open{% endif %}">
          <div class="expandable-content">
            <h3 class="text stack-sans-headline-title"> Application </h3>
            <h6 class="text stack-sans-headline-mainText"> Please include the following information </h6>
            <div class="error-message"> </div>
            <div class="input-container-name">
              <input class="input-small stack-sans-headline-mainText" name="firstName" type="text" spellcheck="true" maxlength="30" placeholder="First Name"> 
              <input class="input-small stack-sans-headline-mainText" name="lastname" type="text" spellcheck="true" maxlength="30" placeholder="Lastname">
            </div>
            <input class="input-large stack-sans-headline-mainText" name="phonenumber" type="tel" spellcheck="true" maxlength="30" placeholder="Phonenumber">
            <input class="input-large stack-sans-headline-mainText" name="email" type="email" spellcheck="true" maxlength="30" placeholder="Email">
            <div class="cv-file-upload">
              <p class="cv-input-text stack-sans-headline-mainText"> Please inculde your CV </p>
              <input class="cv-input stack-sans-headline-mainText" name="cv" type="file" accept=".pdf, .doc, .docx">
            </div> 
            <div class="cv-file-upload">
              <p class="cv-input-text stack-sans-headline-mainText"> Please inculde your cover letter </p>
              <input class="cv-input stack-sans-headline-mainText" name="coverLetter" type="file" accept=".pdf, .doc, .docx">
            </div>
          </div>
        </section>
        <div class="centered">
          <button type="submit"  class="standard-button stack-sans-headline-title">
            Apply
          </button>
        </div>
      </form>  
    </article>
  </main>
  <footer>
    <h2 class="footer-text stack-sans-headline-title "> Contact </h2>
    <a class="main-body-text-link stack-sans-headline-mainText" href="https://github.com/nasraabdirahman/cv-analyzer"> https://github.com/nasraabdirahman/cv-analyzer </a>
    <section class="colour-scheme-switcher" aria-label="colour-scheme-switcher">
      <span class="scheme-switcher_slider"></span>
        <button class="scheme-switcher_button stack-sans-headline-mainText" aria-pressed="false" value="light">
          Light
        </button>
        <button class="scheme-switcher_button stack-sans-headline-mainText" aria-pressed="false" value="dark">
          Dark
        </button>
    </section>
    <a href="/companyView/5"> Company View</a>
  </footer>
</body>
</html>