<!DOCTYPE html>
<html>
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/jobCreation.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specified job</title>
</head>
<body>
    <a href="/" class="home-button">Home</a>
    <form method="post">
        <div class = "container">
            <div class = "sidebar">
                <input type="text" name="title" placeholder="Title">
                <input type="text" name="company" placeholder= "Company"> 
                <input type="text" name="location" placeholder= "Location">
                <textarea type="text" name="shortDescription" spellcheck="true" maxlength="200" placeholder="Short Description" style="resize:none"></textarea> 
                <textarea type="text" name="longDescription" spellcheck="true" maxlength="800" placeholder="Full Description" style="resize:none"></textarea> 
                <p class="text">
                    Release Date
                </p>
                <input type="date" name="releaseDate">
                <p class="text">
                    Removal Date
                </p> 
                <input type="date" name="removalDate" >
                <p class="text">
                    Start Date
                </p> 
                <input type="date" name="startDate" >


                <button type="submit">Create Job</button>
            </div>
        </div>
    </form>

</body>
</html>