<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/loginRegister.css">
    <script defer type="module" src="{{ url_for('static', filename='js/colourTheme.js')}}"></script>
    <script defer src="../static/js/loginRegister.js"></script>
    <title>login</title>
</head>
<body>
  <section class="container">
      <div class="input-container login">
        <form method="post" >
          <h2 class="h2 stack-sans-headline-title"> Login </h2>
          <p class="p stack-sans-headline-mainText">Please fill in your details below!</p>
          <input type="username" placeholder="Username">
          <input type="password" placeholder="Password">
          <button class="standard-button" type="submit" >
            Login
          </button>
        </form>
      </div>

    <div class="input-container signup">
        <form method="post" >
          <h2 class="h2 stack-sans-headline-title"> Create Account</h2>
          <p class="p stack-sans-headline-mainText">Please fill in your details below!</p>
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="LastName">
          <input type="email" placeholder="Email">
          <input type="username" placeholder="Username">
          <input type="password" placeholder="Password">
          <button class="standard-button" type="submit" >
            Signup
          </button>
       </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-right">
            <h2 class="h2 stack-sans-headline-title"> Welcome Back </h2>
            <p class="p stack-sans-headline-mainText">If you don't already have an account</p>
            <button class="standard-button signup-button"> 
              Signup 
            </button>
        </div>

        <div class="toggle-panel toggle-left">
            <h2 class="h2 stack-sans-headline-title"> New to Us </h2>
            <p class="p stack-sans-headline-mainText">If you already have an account</p>
            <button class="standard-button login-button"> 
              Login
            </button>
        </div>
      </div>
    </div>
  </section>
    
</body>
</html>