<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/market.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="search-container">
        <input type="text"
               class="search-bar"
               placeholder="Search Jobs...">
    </div>

    <div class="jobs-list" >

        {% for job in jobs %}

        <a class="job-card" href="{{ url_for('apply', job_id=job['id']) }}">
            <!-- Make it a link instead of a div and include the job_id -->

            <div class="job-title">
                {{ job["title"] }}
            </div>

            <div class="job-company">
                {{ job["company"] }}
            </div>

        </a>

        {% endfor %}

    </div>

</body>

</html>